.header-nav {
    position: fixed;
    top: 0;left: 0;right: 0;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.header-nav ul li a {
    position: relative;
    margin-left: 20px;
    letter-spacing: -0.05rem;
    font-size: 0.85rem;
    font-weight: 600;
}
.header-nav ul li a:hover {color: #F15F32 !important;}
.header-nav ul li a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 2px solid #F15F32;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header-nav ul li a:hover::after {transform: scaleX(0.8);}
.navbar-light .navbar-nav .active>.nav-link {color: #F15F32;}

/* Logo */
.logo {
    position: relative;
    left: 43px;
    top: -10px;
    font-size: 1.7rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
}
.logo::after {
    position: absolute;
    content: "TUOI TRE SANG TAO";
    bottom: -5px;left: 0;right: 0;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
}
.logo::before {
    position: absolute;
    top: -15px;left: -43px;
    font-family: 'Font Awesome 5 Free';
    content: '\f0eb';
    font-size: 3.5rem;
    color: #F15F32;
}
.header-nav .logo::after {
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header-nav .logo:hover {color: #F15F32 !important;}
.header-nav .logo:hover::after {color: #7f7f7f; animation: xoay 0.75s;}

@keyframes xoay {
    0% {transform: scaleX(0)}
    100% {transform: scaleX(1)}
}

/* search */
.search-field {
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: 2px solid #F15F32;
    box-sizing: border-box;
}
.search-field:hover {background: #F15F32;}
.search-field:hover .edt-search {color: #fff;}
.search-field:hover .btn {color: #fff;}

.edt-search {
    border: none;
    width: 100px;
    background: none;
}

.navbar-toggler {background: #F15F32;}

/* BODY */
body {padding-top: 200px;}

/* FOOTER */
footer {background: #292724;padding-top: 80px; padding-bottom: 80px;}

footer .logo {color: #fff;}
footer .logo::before{color: #fff;}